* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/**Navigation Bar**/
.navigation-bar {
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: white;
	font-family: sans-serif;
	opacity: 0.7;
	position: fixed;
	background-color: #c1b7ad;
}

.navigation-bar h1 {
	font-weight: 400;
	float: left;
	margin-left: 1%;
}

.navigation-bar ul {
	float: right;
	margin-right: 20px;
}

.navigation-bar ul li {
	list-style-type: none;
	display: inline-block; 
}

.navigation-bar ul li:hover {
	background: #755555;
	transition: all 0.40s;
}

.navigation-bar ul li a {
	color: white;
	text-decoration: none;
	padding: 40px;
}
/**End Navigation Bar**/






